<!DOCTYPE html>
<html>
<head>
    <title>
        New photo
    </title>
</head>
<body>
<form id="redirectForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="my-file" id="my-file">
    <input type="submit" id="submit-button" style="display: none;">
</form>
<script>
    // Отправьте форму с POST-запросом
    document.getElementById("my-file").addEventListener("change", function() {
        document.getElementById("redirectForm").submit();
    });
</script>
</body>
</html>
